<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>01048255-0B9F-4F8C-8F8C-4E82333BC482</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DDB7F90-FE1C-4D75-A110-B92BE09E4D97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0A371D54-06AF-4896-A246-8A3F10638FC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86E80F71-3C4D-41A4-94DE-564940DB6272</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>824CAAFC-6D29-4736-AF60-4BD96BEAE2EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>25E3DF98-2706-4D97-996C-E5839612AAFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A371D54-06AF-4896-A246-8A3F10638FC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5ADA0A22-076F-495E-8398-1697183B0A20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>704C2CCD-DAB5-4032-9B80-D78BFCFC2258</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6DDB7F90-FE1C-4D75-A110-B92BE09E4D97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86E80F71-3C4D-41A4-94DE-564940DB6272</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>704C2CCD-DAB5-4032-9B80-D78BFCFC2258</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86E80F71-3C4D-41A4-94DE-564940DB6272</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>77277534-717F-407E-B6BB-49AFB3726A38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86E80F71-3C4D-41A4-94DE-564940DB6272</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CDB226D6-2CBA-4BDD-880B-7B93B9027B8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86E80F71-3C4D-41A4-94DE-564940DB6272</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D18FC919-66FF-4536-8686-F483B7B6699B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDB226D6-2CBA-4BDD-880B-7B93B9027B8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EA45CD6B-E1DE-4F9E-B2D9-B0C528CD13FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77277534-717F-407E-B6BB-49AFB3726A38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tom Beynon (@Tom_Beynon)</string>
	<key>description</key>
	<string>Pow shortcuts for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>824CAAFC-6D29-4736-AF60-4BD96BEAE2EA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>86E80F71-3C4D-41A4-94DE-564940DB6272</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
        <string>require './alfred_pow.rb'
AlfredPow.xip "{query}"</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A371D54-06AF-4896-A246-8A3F10638FC3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>pow destroy</string>
				<key>runningsubtext</key>
				<string>Loading results...</string>
				<key>script</key>
        <string>require './alfred_pow.rb'
AlfredPow.list "{query}"</string>
				<key>subtext</key>
				<string>Destroy Pow app</string>
				<key>title</key>
				<string>pow destroy {query}</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D18FC919-66FF-4536-8686-F483B7B6699B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Create in Pow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>01048255-0B9F-4F8C-8F8C-4E82333BC482</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>pow browse</string>
				<key>runningsubtext</key>
				<string>Loading results…</string>
				<key>script</key>
        <string>require './alfred_pow.rb'
AlfredPow.list "{query}"</string>
				<key>subtext</key>
				<string>Browse Pow app</string>
				<key>title</key>
				<string>pow browse {query}</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5ADA0A22-076F-495E-8398-1697183B0A20</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
        <string>require './alfred_pow.rb'
AlfredPow.browse "{query}"</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>704C2CCD-DAB5-4032-9B80-D78BFCFC2258</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
        <string>require './alfred_pow.rb'
AlfredPow.restart "{query}"</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77277534-717F-407E-B6BB-49AFB3726A38</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
        <string>require './alfred_pow.rb'
AlfredPow.create "{query}"</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6DDB7F90-FE1C-4D75-A110-B92BE09E4D97</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
        <string>require './alfred_pow.rb'
AlfredPow.destroy "{query}"</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CDB226D6-2CBA-4BDD-880B-7B93B9027B8C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>pow restart</string>
				<key>runningsubtext</key>
				<string>Loading results...</string>
				<key>script</key>
        <string>require './alfred_pow.rb'
AlfredPow.list "{query}"</string>
				<key>subtext</key>
				<string>Restart Pow app</string>
				<key>title</key>
				<string>pow restart {query}</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EA45CD6B-E1DE-4F9E-B2D9-B0C528CD13FE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>pow xip</string>
				<key>runningsubtext</key>
				<string>Loading results...</string>
				<key>script</key>
        <string>require './alfred_pow.rb'
AlfredPow.list "{query}"</string>
				<key>subtext</key>
				<string>Copy xip.io URL to clipboard</string>
				<key>title</key>
				<string>pow xip {query}</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>25E3DF98-2706-4D97-996C-E5839612AAFA</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01048255-0B9F-4F8C-8F8C-4E82333BC482</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>0A371D54-06AF-4896-A246-8A3F10638FC3</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>25E3DF98-2706-4D97-996C-E5839612AAFA</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>5ADA0A22-076F-495E-8398-1697183B0A20</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6DDB7F90-FE1C-4D75-A110-B92BE09E4D97</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>704C2CCD-DAB5-4032-9B80-D78BFCFC2258</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>77277534-717F-407E-B6BB-49AFB3726A38</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>824CAAFC-6D29-4736-AF60-4BD96BEAE2EA</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>86E80F71-3C4D-41A4-94DE-564940DB6272</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>CDB226D6-2CBA-4BDD-880B-7B93B9027B8C</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D18FC919-66FF-4536-8686-F483B7B6699B</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>EA45CD6B-E1DE-4F9E-B2D9-B0C528CD13FE</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
